[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Master level project - TELECOM SudParis
[access "refs/*"]
	owner = group user/Mohamed Habib ESSOUSSI (tunimaestro)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mohamed Habib ESSOUSSI (tunimaestro)
	label-Verified = -1..+1 group user/Mohamed Habib ESSOUSSI (tunimaestro)
	push = group user/Mohamed Habib ESSOUSSI (tunimaestro)
	read = group user/Mohamed Habib ESSOUSSI (tunimaestro)
	rebase = group user/Mohamed Habib ESSOUSSI (tunimaestro)
	removeReviewer = group user/Mohamed Habib ESSOUSSI (tunimaestro)
	submit = group user/Mohamed Habib ESSOUSSI (tunimaestro)
[access "refs/heads/*"]
	create = group user/Mohamed Habib ESSOUSSI (tunimaestro)
	push = +force group user/Mohamed Habib ESSOUSSI (tunimaestro)
	pushMerge = group user/Mohamed Habib ESSOUSSI (tunimaestro)
	read = group user/Mohamed Habib ESSOUSSI (tunimaestro)
[access "refs/tags/*"]
	push = group user/Mohamed Habib ESSOUSSI (tunimaestro)
	push = +force group user/Mohamed Habib ESSOUSSI (tunimaestro)
